    /*内容*/
   .content{
        background-color: #f3f3f3;
        margin-top: 55px;
        text-align: center;
        width: 100%;
    }
    /*灰色图标1*/
    .cont_simg1{
        text-align: center;
        height: 280px;
        line-height: 280px;
    }
    /*灰色图标2*/
    .cont_simg2{
        text-align: center;
        height: 345px;
        line-height: 345px;
    }
    /*表格1样式*/
    .tb1{
        text-align: center;
        margin: 0px auto;
    }
    .tb1 tr td{
        width: 25%;
        text-align: center;
        font-family: '微软雅黑';
    }
    .tb1 tr td img{
        margin-bottom: 20px;
    }
    /*表格2样式*/
    .tb2{
        text-align: center;
        margin: 0px auto;
        width:80%;
    }
    .tb2 tr td{
        width: 12%;
        text-align: center;
    }
    .tb2 tr td img{
        width: 70%;
        height: 70%;
    }
    /*加竖线td样式*/
    .tds{
        border-right: solid 2px rgba(17,17,17,0.5);
    }
    .cont_block2{
        margin-bottom: 145px;
    }