@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
}
body{    min-width: 1082px;}
@font-face {
    font-family: 'SourceHanSerifCN-SemiBold';
    src:url('SourceHanSerifCN-SemiBold.otf');
}
@font-face {
    font-family: 'TrajanPro3-Regular';
    src:url('TrajanPro3-Regular.otf');
}
/*公共类*/
.l{    float: left;}
.r{    float: right;}
.c{    clear: both;display: block;}
.l-h-30{    line-height: 30px;}
.font10{    display: block;    font-size: 14px;}
.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    min-width: 1082px
}
.nav li{
    width: 18%;
    height: 55px;
    line-height: 55px;
    float: left;
    font-family: SourceHanSerifCN-SemiBold;
    cursor: pointer;
}
.nav li a{    color: #808080;}
.nav li.on a{    color: #333;}
.nav li.hy{    width: 10%;}
.nav li.hy img{    width:70px;    margin:-3px 20px;}
.nav li span{    float: left;    font-size: 15px;}
.nav li i{
    font-size: 9px;
    display: block;
    transform: scale(0.75);
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -o-transform: scale(0.75);
    line-height: 60px;
    float: left;
    margin-left: -5px;
    font-style: normal;
}
.nav{    background-color: #dedede;}

/*尾部*/
.connect{
    width: 910px;
    margin: 55px auto;
    border: 1px solid #dedede;
    border-left: none;
    border-right: none;
    font-family: TrajanPro3-Regular;
    letter-spacing:5px;
    overflow: hidden;
    padding: 10px;
    line-height: 20px;
    font-size: 15px;
    text-align: center;
    color: #6e6e6e;
}

/*首页*/
/*主题*/
.banner{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    top: 55px;
}
.Scroll1{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-width: 1000px;
    background: #000;
}
.Scroll1 .full li{
    width: 100% !important;
    background: url(../img/1.jpg) top center no-repeat;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
        src='http://static.yuntongauto.com/bjzy/img/1.jpg',
        sizingMethod='scale');
}

/*兼容IE8*/
.Scroll1 .full .n2{
    background-image: url(../img/2.jpg);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='http://static.yuntongauto.com/bjzy/img/2.jpg',
    sizingMethod='scale');
}
.Scroll1 .full .n3{
    background-image: url(../img/3.jpg);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='http://static.yuntongauto.com/bjzy/img/3.jpg',
    sizingMethod='scale');
}
.Scroll1 .full .n4{
    background-image: url(../img/4.jpg);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='http://static.yuntongauto.com/bjzy/img/4.jpg',
    sizingMethod='scale');
}
.Scroll1 .full .n5{
    background-image: url(../img/5.jpg);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
            src='http://static.yuntongauto.com/bjzy/img/5.jpg',
            sizingMethod='scale');
}
.btns{
    position: absolute;
    bottom: 60px;
    left: 50%;
    margin-left: -47px;
}
.Scroll1 .btns li{
    width: 10px;
    height: 10px;
    float: left;
    background: none;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    opacity: .9;
    cursor: pointer;
}
.btns li.on{
    background-color: #acacac;
}
/*北京庄园img*/
.bjzy{    width:158px;position: relative;    z-index: 1;}
.next-arrow{
    width: 30px;
    margin-left: -15px;
    height: 18px;
    background: url(../img/next-arrow.png) no-repeat center;
    position: absolute;
    bottom: 25px;
    left: 50%;
    cursor: pointer;
}
/*第一个内容去*/
.cont0{    text-align: center;    padding: 110px 0 125px;}
.cont{    color: rgb(110, 110, 110);}
.t1{    font-size: 20px;    font-family: TrajanPro3-Regular;}
.t2{
    font-size: 30px;
    margin: 23px 0 28px;
    font-family: SourceHanSerifCN-SemiBold;
}
.dor{display: inline-block;background:url(../img/img.png) 0 -71px  no-repeat;height:12px;width:12px;}
.t4{ letter-spacing:8px; font-family: SourceHanSerifCN-SemiBold;margin: 28px 0}
.t5{    width: 660px;margin: 0 auto  85px;    line-height: 30px;    font-family: TrajanPro3-Regular;}
.video{
    width: 910px;
    height: 515px;
    margin: 0 auto;
    background: url(../img/video.jpg) no-repeat;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
            src='http://static.yuntongauto.com/bjzy/img/video.jpg',
            sizingMethod='scale');
    position: relative;
}
.video a{    display: block;    height: 515px;}
.paly{
    width: 70px;
    height: 50px;
    border-radius: 15px;
    background-color: rgba(0,0,0,.6);
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -35px 0 0 -35px;
    z-index: 1;
}
.paly:after{
    content: '';
    display: block;
    border: 10px solid transparent;
    position: absolute;
    border-left-color: rgba(255,255,255,1);
    left: 50%;
    top: 50%;
    margin: -10px 0 0 -5px;
}
video{    display: none;}
video.on{    display: block;    position: absolute;    z-index: 10;}
/*第二个内容去*/
.cont1{
    text-align: center;
    background-color: #f3f3f3;
    padding: 115px 0 70px;
}
/*轮播图*/
.tempWrap{    margin: 0 auto;}
.tempWrap ul li{
    width: 200px;
    height: 200px;
    padding: 5px;
    border: 2px solid #4c4c4c;
    margin-left: 15px;
    background: #fff
}
.tempWrap ul li img{
    width: 200px;
    height: 200px;
}
.picScroll{position: relative;width: 976px;margin: 0 auto;margin-bottom: 70px}
.prev{
    display: block;
    position: absolute;
    left: 15px;
    top: 50%;
    margin-top: -15px;
    height: 30px;
    width: 12px;
    background: url(../img/img.png) 0 -83px no-repeat;
}
.next{
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -15px;
    height: 30px;
    width: 12px;
    background: url(../img/img.png) 0 0 no-repeat;
}
.seeall{
    display: block;
    margin: 0 auto;
    line-height: 45px;
    height: 45px;
    width: 170px;
    text-align: center;
    border: 2px solid #4c4c4c;
    font-size: 14px;
    font-family: TrajanPro3-Regular;
    background-color: #fff;
    color: rgb(110,110,110);
    text-decoration: none;
}
.picScroll1{    margin: 0 auto;margin-bottom: 70px}
.picScroll1 .tempWrap ul li{
    margin-left: 20px;
    height: 260px;
    width: 270px;
    position: relative;
}
.picScroll1 ul li img{    height: 260px;    width: 270px;    opacity: .9;}
.ts{
    position: absolute;
    bottom: 5px;
    text-align: center;
    width: 270px;
    display: block;left: 5px;
    line-height: 24px;
    height: 24px;
    background-color: rgba(0,0,0,0.5);
    color: rgba(255, 2555, 255, .9);
}
.picScroll2 li a{
    background-color:#c2ad94 ;
    display: block;
    height: 200px;
    text-decoration: none;
}

/*首页*/
.life .t6{
    margin-bottom: 0;
    line-height: 25px;
}
/*生活*/
.life .banner{
    width: 100% !important;
    height: 220px;
    background: url(../img/lifebaner.jpg) top center no-repeat;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
            src='http://static.yuntongauto.com/bjzy/img/lifebaner.jpg',
            sizingMethod='scale');
}
.life .footer{
    padding-top: 50px;
}
.life-box .t6{
    line-height: 35px;
}
.life .pic{
    margin-bottom: 125px;
}
.life .pic img{
   padding: 5px;
    border: 2px solid #757575;
    background: #fff;
}


/*艺术*/
.art .banner{
    width: 100% !important;
    height: 220px;
    background: url(../img/artbanner.jpg) top center no-repeat;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
            src='http://static.yuntongauto.com/bjzy/img/artbanner.jpg',
            sizingMethod='scale');
}
.art .picScroll1 ul li img{
    width: 220px;
    height: 220px;
}
.art .picScroll1 .tempWrap ul li{
    width: 220px;
    height: 220px;
    margin-left: 20px;
}
.art  .ts{
    width: 220px;
}
.art .t7{
    line-height: 30px;
}
.art .footer{
    padding-top: 0;
    overflow: hidden;
}

/*信仰*/
.faith .banner{
    width: 100% !important;
    height: 220px;
    background: url(../img/faithbanner.jpg) top center no-repeat;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
            src='http://static.yuntongauto.com/bjzy/img/faithbanner.jpg',
            sizingMethod='scale');
}
.faith .picScroll1 .tempWrap ul li{
    width: 290px;
    height: 290px;
}
.faith .picScroll1 li img{
    width: 290px;
    height: 290px;
}
.faith .ts{
    width: 290px;
    left: 5px;
    line-height: 24px;
    background: none;
    height: 24px;
    color: #6e6e6e;
    font-family: TrajanPro3-Regular;
}
.msg-list{
    width: 970px;
    margin: 70px  auto;
    overflow: hidden;
}
.msg-list li{
    width: 300px;
    height: 400px;
    overflow: hidden;
    float: left;
    margin: 10px;
    text-align: left;
    font-family: TrajanPro3-Regular;
}
.d1-box{
    width: 302px;
    height: 230px;
    overflow: hidden;
}
.d1-box img{
    width: 302px;
    height: 230px;
    transition: all .3s;
    cursor: pointer;
}
.d1-box img:hover{
    transform: scale(1.1);
}
.d1 .txt{
    padding: 25px 30px 20px;
    background: #fff;
    height: 210px;
    overflow: hidden;
    margin: -35px 9px 0;
    position: relative;
    z-index: 1;
    font-size: 12px;
}
.d1-detail{
    margin-top: 15px;
    line-height: 20px;
}
.msg-list .txt p{
    font-size: 19px;
    line-height: 25px;
    font-family: SourceHanSerifCN-SemiBold;
}
.d2{
    width: 243px;
    height: 300px;
    background: #fff;
    padding: 100px 30px 0;
    position: relative;
}
.d2 .d1-detail{margin-top: 30px;}
.d2 .arrow{
    height: 30px;
    width: 30px;
    position: absolute;
    left: 30px;
    bottom: 30px;
}
.d2 .txt{
    font-size: 12px;
}
.d3{
    width: 300px;
    height: 400px;
    transition: all .3s;
}
.d3:hover{
    transform: scale(1.1);
}
.faith .footer{
    padding-top: 0;
    overflow: hidden;
}
/*土地*/
.land .banner{
    width: 100% !important;
    height: 220px;
    background: url(../img/landbanner.jpg) top center no-repeat;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
            src='http://static.yuntongauto.com/bjzy/img/landbanner.jpg',
            sizingMethod='scale');
}

/*媒体查询 1366以下的分辨率*/
@media screen and (max-width: 1360px) {
    .nav li span{
        font-size: 13px;
    }
}
/*媒体查询*/
@media screen and (max-width: 1920px) and (min-width: 1680px) {
    .bjzy{
        width: 190px;
    }
    .nav li {
        height: 65px;
        line-height: 65px;
    }
    .nav li span{
        font-size: 18px;
    }
    .nav li i{
        font-size: 14px;
        margin-left: -10px;
        line-height: 70px;
    }
    .nav li.hy img{
        width: 88px;
        margin: -5px 20px
    }
}