.box, .topBg {
    position: relative;
    overflow: hidden
}

.txtBox .firework, .txtBox .txt_2 {
    animation-delay: 1s;
    animation-iteration-count: infinite
}

.star, .txtBox .firework, .txtBox .txt_2 {
    animation-iteration-count: infinite
}

.clear, .timeBox span, .txt2 {
    display: block
}

* {
    margin: 0;
    padding: 0;
    -webkit-backface-visibility: hidden;
    list-style: none;
    text-decoration: none;
    border: none;
    font-family: Microsoft Yahei, Arial, Helvetica, sans-serif
}

.box, body {
    width: 750px;
    margin: 0 auto
}

body {
    background: url(../img/bg.jpg)
}

.box {
    min-height: 1206px
}

img {
    vertical-align: bottom;
    line-height: 0
}

.l {
    float: left
}

.r {
    float: right
}

.clear {
    clear: both
}

.topBg {
    height: 950px;
    background: url(../img/topBg.jpg) top center no-repeat
}

.money, .topBg a, .txtBox .firework {
    position: absolute
}

.topBg a {
    width: 190px;
    height: 80px;
    top: 75px
}

.rule_1 {
    right: 30px
}

.myRecord {
    right: 250px
}

.txtBox {
    width: 640px;
    margin: 320px auto 0
}

.txtBox .txt_2 {
    margin-top: 25px
}

.txtBox .firework {
    top: 220px;
    left: 205px
}

.starBall, .timeBox, .tit-1, .trictBg, .turntable-bg {
    position: relative
}

.money_1 {
    top: 225px;
    left: 50px
}

.money_2 {
    top: 175px;
    left: 160px
}

.money_3 {
    top: 600px;
    right: 210px
}

.red-1 {
    top: 220px;
    right: 237px
}

.red-2 {
    top: 270px;
    right: 160px
}

.star {
    left: 350px;
    top: 305px;
    animation-play-state: revert
}

.star1 {
    left: 315px;
    top: 300px;
    animation-duration: 1.5s
}

.star3 {
    top: 600px;
    left: 185px;
    animation-direction: alternate
}

.starBall {
    top: -100px
}

.tit-1 {
    color: #fff;
    font-size: 24px;
    text-align: center;
    top: -170px;
    letter-spacing: 4px
}

.timeBox {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    width: 405px;
    margin: 0 auto;
    top: -145px
}

.timeBox span {
    float: left;
    margin: 10px 7px
}

.timeBox .ballBg {
	color:#5c48db;
    width: 80px;
    height: 80px;
    margin: 0;
    text-align: center;
    line-height: 80px;
    font-size: 30px;
    background: url(../img/ballBg.png) top center no-repeat
}

.cont1 {
    width: 690px;
    height: 340px;
    margin-left: 50px;
    background: url(../img/cont-1.png) top center no-repeat;
    padding-top: 78px;
    box-sizing: border-box
}

.txt2 {
    margin-left: 130px;
    margin-top: 10px
}

.trictBg {
    width: 680px;
    height: 255px;
    margin: 0 auto;
    background: url(../img/trictBg1.png) top center no-repeat
}

.trictBg.trictBox2 {
    background-image: url(../img/trictBg2.png)
}

.cont_2 {
    margin: 80px 0 90px
}

.turntable-bg {
    width: 600px;
    height: 600px;
    margin: 0 auto 60px;
    background: url(../img/priceBg.png) top no-repeat
}

.getBtn, .rules {
    text-align: center;
    width: 140px;
    display: block
}

#rotate, .getBtn, .money_4, .red-3, .rules {
    position: absolute
}

.turntable-bg .pointer {
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1
}

#rotate {
    transform-origin: 50% 50%;
    top: 45px;
    left: 56px
}

.rotate2 {
    animation: myRotate2 9.5s linear 0s infinite
}

@keyframes myRotate2 {
    from {
        transform: rotate(0)
    }
    to {
        transform: rotate(360deg)
    }
}

.turntableRuleBtn {
    font-size: 28px;
    color: #fff;
    text-align: center
}

.turntableRuleBtn strong {
    color: #ffed36;
    text-decoration: underline
}

.getBtn {
    color: #fa4432;
    height: 50px;
    border-radius: 20px;
    right: 60px;
    bottom: 84px;
    line-height: 47px
}

.trictBox2 .getBtn {
    color: #f98926
}

.toPayBtn {
    display: block;
    margin-left: 165px;
    margin-top: 75px
}

.bottom {
    opacity: .8;
    color: #fff;
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px
}

.bottom:last-child {
    font-size: 23px
}

.money_4 {
    top: -30px;
    left: -5px
}

.red-3 {
    right: 63px;
    bottom: 9px
}

.rules {
    height: 40px;
    right: 60px;
    top: 50px
}


/*弹层*/
.hide{
    display:none
}
.pop{
    height:100%;
    width:750px;
    background:rgba(0,0,0,.5);
    position:fixed;
    top:0;
    display: none;
    z-index: 2;
}
.pop-msg{
    width:674px;
    height:332px;
    background:url(../img/r-tips.png) no-repeat;
    position:absolute;
    left:50%;
    margin-left:-324px;
    top:50%;
    margin-top:-130px;
}
.pop-msg .tit{
    font-size:34px;
    color:#f94b4b;
    text-align:center;
    margin-top:120px
}
.pop-msg .btn{
    font-size:32px;
    color:#5c48db;
    font-weight:bold;
    text-align:center;
    width:300px;
    height:78px;
    border-radius:39px;
    line-height:67px;
    margin:50px 0 0 172px
}

.pop-login{
    position: fixed;
    background-color: #fff;
    width: 600px;
    box-sizing: border-box;
    border-radius: 50px;
    margin: 0 auto;
    transform: translatey(50%);
    padding: 40px 70px;
    left: 50%;
    margin-left: -300px;
    bottom: 50%;
}
.pop-login .tit{
    color: #323232;
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px
}
.pop-login .close{
    font-size: 35px;
    position: absolute;
    right: 25px;
    top: 10px;
    color:#909090
}
.pop-login .t-cont{
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 30px;
    position: relative;
    padding-bottom: 1px;
}
.pop-login .t-cont input{
    color: #909090;
    font-size: 26px;
    outline: none;
    width: 270px;
    line-height: 35px;
    padding: 15px
}
.pop-login .yzm{
    position: absolute;
    width: 160px;
    height: 48px;
    box-sizing: border-box;
    line-height: 48px;
    border: 1px solid #ff7f21;
    border-radius: 30px;
    color:#ff7f21;
    font-size: 22px;
    text-align: center;
}
.pop-login .loginBtn{
    display: block;
    width: 460px;
    height: 84px;
    margin:60px auto 35px;
    color: #fff;
    font-size: 32px;
    text-align: center;
    line-height: 84px;
    background:#ff7f21;
    border-radius:42px;
    box-shadow:0 3px 10px rgba(255, 127, 33, 0.49)
}

.shopListBox{
    position: fixed;
    background: rgba(0,0,0,.5);
    top: 0;
    bottom: 0;
    width: 750px;
    z-index: 5;
    overflow-y: scroll;
}
.shopList{
    width: 710px;box-sizing: border-box;background: #fff;
    border-radius: 20px;
    padding: 60px 0 100px;
    margin: 100px auto;

}
.shopList .tit{
    color: #323232;
    font-size: 30px;
    border-left: 10px solid #e22c3b;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    position: relative;
}
.city::after{
    content: '';
    display: block;
    height: 0;
    clear: both;
}
.cityBox{
    margin: 30px 0 40px;
    overflow: hidden;
    width: 710px;
    padding: 0 25px 0;
    box-sizing: border-box;

}
.lineBox{
    position: relative;height: 70px;
}
.line{
    background: #e22c3b;
    height: 1px;
    margin-top: 55px;
}
.city{
    overflow-x: auto;
    box-sizing: border-box;
    white-space:nowrap;
    height: 50px;  line-height: 50px;
}
.city li{
    display:inline;
    font-size: 28px;
    color: #606060;
    margin-right: 35px;
}
.city li.on{
    color: #e22c3b;
}
.cityBtn{
    position: absolute;
    bottom: 35px;
    left: 20px;
}

.cityListShow li{
    width: 100%;
    font-size: 26px;
    text-align: center;
    margin-bottom: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cityListShow li span{
    border: 1px solid #ccc;
    border-radius: 40px;
    padding: 15px 30px;
    display: inline-block;
}
.cityListShow li.on span{
    color: #e22c3b;
    border-color: #e22c3b;
}
.shopListDiv{
    color: #909090;
    font-size: 26px;
    padding:10px 0 0 12px
}
.shopListBtn{
    color: #ff7f21;
    text-align: center;
    padding: 5px  60px 8px 30px;
    border: 1px solid #ff7f21;
    border-radius: 50px;
    margin-left: 15px;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    display:inline-block;
    text-overflow: ellipsis;
    background: url(../img/shopBtnBg.png) no-repeat 94% center;
}
.shopListBtn select{
	-webkit-appearance:none;
	font-size:20px;
	color:#909090
}

/*过渡*/
.loadBox{
    background: rgba(0,0,0,.8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 30px;
    display: none;
    z-index: 10000;
}
/*吃球球的动画过渡*/
@keyframes rotate_pacman_half_up {
    0% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg)
    }

    50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }

    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg)
    }
}
@keyframes rotate_pacman_half_down {
    0% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg)
    }

    50% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg)
    }
}
@keyframes pacman-balls {
    75% {
        opacity: .7
    }

    100% {
        -webkit-transform: translate(-100px,-6.25px);
        transform: translate(-100px,-6.25px)
    }
}
.pacman {
    position: relative
}

.pacman>div:nth-child(3) {
    -webkit-animation: pacman-balls 1s -.66s infinite linear;
    animation: pacman-balls 1s -.66s infinite linear
}

.pacman>div:nth-child(4) {
    -webkit-animation: pacman-balls 1s -.33s infinite linear;
    animation: pacman-balls 1s -.33s infinite linear
}

.pacman>div:nth-child(5) {
    -webkit-animation: pacman-balls 1s 0s infinite linear;
    animation: pacman-balls 1s 0s infinite linear
}

.pacman>div:first-of-type {
    width: 0;
    height: 0;
    border-right: 25px solid transparent;
    border-top: 25px solid #fff;
    border-left: 25px solid #fff;
    border-bottom: 25px solid #fff;
    border-radius: 25px;
    -webkit-animation: rotate_pacman_half_up .5s 0s infinite;
    animation: rotate_pacman_half_up .5s 0s infinite;
    position: relative;
    left: -30px
}
.pacman>div:nth-child(2) {
    width: 0;
    height: 0;
    border-right: 25px solid transparent;
    border-top: 25px solid #fff;
    border-left: 25px solid #fff;
    border-bottom: 25px solid #fff;
    border-radius: 25px;
    -webkit-animation: rotate_pacman_half_down .5s 0s infinite;
    animation: rotate_pacman_half_down .5s 0s infinite;
    margin-top: -50px;
    position: relative;
    left: -30px
}
.pacman>div:nth-child(3),.pacman>div:nth-child(4),.pacman>div:nth-child(5),.pacman>div:nth-child(6) {
    background-color: #fff;
    border-radius: 100%;
    margin: 2px;
    width: 10px;
    height: 10px;
    position: absolute;
    -webkit-transform: translate(0,-6.25px);
    -ms-transform: translate(0,-6.25px);
    transform: translate(0,-6.25px);
    top: 25px;
    left: 70px
}
.loaders {
    font-size: 16px;
    background: #ed5565;
    padding: 15px;
}
.loader {
    display: block;
    padding: 40px;
    width: 35px;
    margin: 300px auto 20px;
    box-sizing: border-box;
    vertical-align: middle;
    transform: scale(1.5);
}
.msg{
    padding: 15px 30px;
    background-color:rgba(0,0,0,.9);
    color: #fff;
    text-align: center;
    max-width: 710px;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%);
    display: none;
    z-index: 100;
    min-width: 400px;
    font-size: 30px;
    border-radius: 10px;
}

/*使用规则*/
.tips-rule{
    width:651px;
    margin:40px 48px 0 51px
}
.rule-top{
    width:651px;
    height:124px;
    background:url(../img/r-tctops-2.png) no-repeat
}
.rule-top-e{
    width:651px;
    height:184px;
    background:url(../img/r-tctops-3.png) no-repeat
}
.rule-top-e.dzp{
    background:url(../img/r-tctops-4.png) no-repeat
}
.rule-top-e span{
    text-align:center;
    color:#fff;
    font-size:25px;
    display:block;
    padding-top:114px
}
.rule-rep{
    background:url(../img/r-tcreps.png) repeat-y;
    color:#909090;
    font-size:26px;
    padding:30px 54px 50px;
    line-height:48px
}
.rule-rep p span{
    color:#ff7f02
}
.rule-rep p{
    padding:17px 0
}
.rule-rep .tit{
    color:#606060;
    font-size:32px
}
.rule-btn{
    width:651px;
    height:137px;
    background:url(../img/r-tcbots.png) no-repeat
}
.rule-btn a{
    font-size:32px;
    color:#5f3ddf;
    width:300px;
    height:74px;
    line-height:73px;
    text-align:center;
    border-radius:37px;
    display:inline-block;
    margin:57px 0 0 174px
}